.card-session-container {
    width: 100%;
}

.card-session-container > .MuiPaper-rounded {
    padding: 12px;
    border: 1px solid var(--dark-gray);
    background: unset;
    color: var(--light-gray);
    transition: all 0.2s ease;
    text-align: center;
    position: relative;
}

.card-session-container .MuiPaper-rounded .MuiIconButton-colorSecondary {

}

.card-session-container .MuiPaper-rounded .session {
    cursor: pointer;
}

.modal-password .MuiTextField-root {
    margin-bottom: 22px;
    width: 100%;
}

.modal-password .button-container {
    display: flex;
}

.modal-password .button-container .MuiButton-root{
    flex: 1 1 auto;
}

.modal-password .button-container .MuiButton-root:first-child {
    margin-right: 6px;
}

.modal-password .button-container .MuiButton-root:last-child {
    margin-left: 6px;
}

.modal-password .error {
    min-height: 21px;
    margin-top: 12px;
    margin-bottom: 12px;
}