.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.MuiInputBase-input .notchedOutline {
  color: var(--light-gray) !important;
  border-color: var(--light-gray) !important;
}

.center {
  text-align: center;
}

/** inputs placeholder **/
.MuiInputBase-colorSecondary .MuiOutlinedInput-notchedOutline {
  color: var(--secondary-color) !important;
}

.MuiInputBase-colorSecondary {
  color: var(--blue) !important;
}

label.MuiInputLabel-root:not(.Mui-focused) {
  color: var(--light-gray) !important;
}

fieldset.MuiOutlinedInput-notchedOutline {
  border-color: var(--dark-gray);
  transition: all 0.2s ease;
}

a {
  color: var(--blue);
}

.error {
  color: var(--error);
}

:root {
  --blue: #3f50b5;
  --primary-color-dark: #757ce8;
  --secondary-color: #e16410;
  --light-gray: #555555;
  --medium-gray: #343434;
  --dark-gray: #242424;
  --success: #31b100;
  --text-color: #BFBFBFFF;
  --error: #d32f2f;
}

/** scrollbar **/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #7D7D7DFF;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--text-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}

.disabled{
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}

.MuiDialog-container .MuiPaper-root {
  background-color: var(--medium-gray) !important;
  color: var(--text-color);
}

.MuiDialogContent-root {
  padding-top: 12px !important;
}
